/* src/components/AddStudentForm.css */

.add-student-form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-student-form h1 {
    margin-bottom: 0px;
  }
  
  .add-student-form form {
    display: flex;
    flex-direction: column;
  }
  
  .add-student-form .form-group {
    margin-bottom: 20px;
  }
  
  .add-student-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .add-student-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styles */
  button {
    padding: 8px 16px;
    background-color: #007bff; /* Bootstrap primary blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue for hover state */
    transform: translateY(-2px);
  }
  
  button:active {
    background-color: #004080; /* Even darker blue for active state */
    transform: translateY(0);
  }
  
  /* Error and success messages */
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 20px;
  }
  