/* src/components/Accounts/PayFees.css */

.pay-fees {
    max-width: 500px;
    margin-top: 80px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pay-fees h2 {
    margin-bottom: 20px;
  }
  
  .pay-fees form {
    display: flex;
    flex-direction: column;
  }
  
  .pay-fees label {
    margin-bottom: 10px;
  }
  
  .pay-fees input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
/* PayFees.css */

.pay-fees-snackbar {
  margin-top: 50px; /* Adjust as needed */
}

  
  