/* src/components/Navbar.css */

nav {
    background-color: #4A90E2;
    padding: 10px 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ddd;
  }
  