/* src/components/Register/Register.css */

.register-container {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 70px;
  }
  
  .register-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 15px;
  }
  
  p a {
    color: #d3e8ff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  